---
layout: default
---

<div class="posts">
    {% for post in paginator.posts %}
    <article class="post">
        <h1 class="title"><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

        <h4 class="date">published <date>{{ post.date | date_to_string }}</date></h4>

        <div class="entry">
            {% assign excerpt_content = post.excerpt | strip %}
            {% assign full_content = post.content | strip %}

            {% if excerpt_content != full_content %}
                {{ post.excerpt }}
            {% else %}
                {{ post.content }}
            {% endif %}
        </div>

        {% if excerpt_content != full_content %}
            ...
            {% assign words = post.content | number_of_words %}
            {% assign minutes = words | divided_by: 200 %}
            {% if minutes == 0 %}
              {% assign minutes = 1 %}
            {% endif %}

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">continue reading (~{{ minutes }} min read)</a>
        {% else %}
            <a href="{{ site.baseurl }}{{ post.url }}#comments" class="read-more">comments</a>
        {% endif %}
    </article>
    {% endfor %}
</div>

<!-- Pagination links -->
<div class="pagination">
    {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">&laquo;</a> {% else %}
    <span class="previous">&laquo;</span> {% endif %}
    <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span> {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">&raquo;</a> {% else %}
    <span class="next ">&raquo;</span> {% endif %}
</div>
